extends base.pug

block content 
    h4 Change Title of video
    form(method="POST")
        //- Every input must have a name="" So, You can get the input value by request.body.name 
        input(name="title", placeholder="Enter New Title", value=video.title, required)
        input(value="Save", type="submit")
